@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import '~js-datepicker/dist/datepicker.min.css';

body,
html {
  background: url('../images/grey_waves.jpg') #31393c;
  height: 100%;
  background-size: cover;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Biryani', sans-serif;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 0.8vw;
  overflow-wrap: break-word;
  margin-left: 0.5em;
  padding: 0, 0.25em;
}

#root,
#__next {
  isolation: isolate;
}

.hidden {
  display: none !important;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 3vw;
}

#welcomeName {
  color: rgb(93, 93, 93);
  font-size: 2vw;
}

nav,
section {
  border-radius: 3px;
}

.nav-wrapper {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin: 1rem;
}

nav {
  height: 100%;
  border-left: 10px solid #7699d4;
}

.welcome-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 62%;
  padding: 0.5vw;
}

.welcome-nav,
.user-card,
.activity-box,
.sleep-box,
.hydration-box {
  background-color: #ccd0d4;
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
}

.add-data-wrapper {
  display: flex;
  flex-direction: column;
}

.post-button {
  height: 3vh;
  width: 8vw;
  font-size: 0.6em;
  margin: 0.5em;
  background-color: #dde1e4;
  overflow: hidden;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0.5em;
  border: solid #7699d4;
  border-radius: 0.5em;
}

.user-card {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.activities-wrapper {
  display: flex;
  width: 100vw;
  height: 65vh;
  justify-content: space-between;
}

.activity-box,
.sleep-box,
.hydration-box {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  height: 40vw;
  border-top: 10px solid #ff8552;
  flex-direction: column;
  align-items: center;
}

.activity-box > p,
.sleep-box > p,
.hydration-box > p {
  font-size: 1vw;
  margin: 0;
}

.card-text {
  padding-top: 3vw;
  font-size: 2.5vw;
  font-weight: 800;
  color: #7699d4;
  text-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
}

.fade {
  background-color: #adb2b6bd;
  transition: all 500ms ease-in-out;
  transform: scale(1);
}

.fade:hover {
  transform: scale(1.04);
  background-color: #ccd0d4;
}

.activity-box {
  margin-left: 1rem;
}

.hydration-box {
  margin-right: 1rem;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}

.calendar {
  width: 8vw;
  text-align: center;
  font-size: 0.8vw;
  box-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.1);
  background-color: #dde1e4;
}

canvas {
  height: 60%;
}

#hydrationChart {
  height: 80%;
}

.hydration-canvas-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5vw;
  height: 45vh;
  height: 25vw;
  justify-content: center;
}

.sleep-canvas-wrapper {
  display: flex;
  padding-top: 0.5vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 29vw;
  justify-content: flex-start;
}

.activity-chart {
  display: flex;
  width: 27vw;
  height: 13vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2vw;
}

.activity-chart-label {
  padding-top: 5vw;
  border-bottom: rgb(93, 93, 93) solid 0.05em;
}

#worldSteps,
#worldMins,
#worldFlights {
  font-size: 0.8vw;
}

.sleep-text {
  text-align: center;
}

#waterToday {
  font-weight: bold;
  color: #ff8552;
  font-size: 4vw;
  text-shadow: 2px 6px 6px hsl(0deg 0% 0% / 0.3);
}

.sleep-average {
  display: flex;
  justify-content: center;
  height: 3vw;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: solid 2px #31393c;
}

#allTimeAvgSleepHoursAndQuality {
  font-size: 1.2vw;
  display: flex;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 70vh;
  border: 1px solid #7699d4;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 100vw rgba(51, 51, 51, 0.699);
  background-color: #ccd0d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  font-size: 2em;
}

.form-input {
  background-color: #dde1e4;
}

.close-button {
  justify-self: flex-start;
  align-self: flex-start;
  height: 2vw;
  width: 2vw;
}
